web/WEB-INF/wsdl/localhost_8080/ServiceDVC/HoSoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service/" name="HoSoService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service/" schemaLocation="http://localhost:8080/ServiceDVC/HoSoService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetHoSoByUserID">
<part name="parameters" element="tns:GetHoSoByUserID"/>
</message>
<message name="GetHoSoByUserIDResponse">
<part name="parameters" element="tns:GetHoSoByUserIDResponse"/>
</message>
<message name="ViewHoSo">
<part name="parameters" element="tns:ViewHoSo"/>
</message>
<message name="ViewHoSoResponse">
<part name="parameters" element="tns:ViewHoSoResponse"/>
</message>
<message name="GetServiceConfig">
<part name="parameters" element="tns:GetServiceConfig"/>
</message>
<message name="GetServiceConfigResponse">
<part name="parameters" element="tns:GetServiceConfigResponse"/>
</message>
<message name="GetListAgency">
<part name="parameters" element="tns:GetListAgency"/>
</message>
<message name="GetListAgencyResponse">
<part name="parameters" element="tns:GetListAgencyResponse"/>
</message>
<message name="UpdateHoSo">
<part name="parameters" element="tns:UpdateHoSo"/>
</message>
<message name="UpdateHoSoResponse">
<part name="parameters" element="tns:UpdateHoSoResponse"/>
</message>
<message name="CheckLogin">
<part name="parameters" element="tns:CheckLogin"/>
</message>
<message name="CheckLoginResponse">
<part name="parameters" element="tns:CheckLoginResponse"/>
</message>
<message name="GetInformUser">
<part name="parameters" element="tns:GetInformUser"/>
</message>
<message name="GetInformUserResponse">
<part name="parameters" element="tns:GetInformUserResponse"/>
</message>
<message name="ChangePass">
<part name="parameters" element="tns:ChangePass"/>
</message>
<message name="ChangePassResponse">
<part name="parameters" element="tns:ChangePassResponse"/>
</message>
<message name="DeleteHoSo">
<part name="parameters" element="tns:DeleteHoSo"/>
</message>
<message name="DeleteHoSoResponse">
<part name="parameters" element="tns:DeleteHoSoResponse"/>
</message>
<message name="UpdateUser">
<part name="parameters" element="tns:UpdateUser"/>
</message>
<message name="UpdateUserResponse">
<part name="parameters" element="tns:UpdateUserResponse"/>
</message>
<message name="AddUser">
<part name="parameters" element="tns:AddUser"/>
</message>
<message name="AddUserResponse">
<part name="parameters" element="tns:AddUserResponse"/>
</message>
<message name="getCaptcha">
<part name="parameters" element="tns:getCaptcha"/>
</message>
<message name="getCaptchaResponse">
<part name="parameters" element="tns:getCaptchaResponse"/>
</message>
<message name="InsertHoSo">
<part name="parameters" element="tns:InsertHoSo"/>
</message>
<message name="InsertHoSoResponse">
<part name="parameters" element="tns:InsertHoSoResponse"/>
</message>
<message name="getServiceConfigDetails">
<part name="parameters" element="tns:getServiceConfigDetails"/>
</message>
<message name="getServiceConfigDetailsResponse">
<part name="parameters" element="tns:getServiceConfigDetailsResponse"/>
</message>
<portType name="HoSoService">
<operation name="GetHoSoByUserID">
<input wsam:Action="http://Service/HoSoService/GetHoSoByUserIDRequest" message="tns:GetHoSoByUserID"/>
<output wsam:Action="http://Service/HoSoService/GetHoSoByUserIDResponse" message="tns:GetHoSoByUserIDResponse"/>
</operation>
<operation name="ViewHoSo">
<input wsam:Action="http://Service/HoSoService/ViewHoSoRequest" message="tns:ViewHoSo"/>
<output wsam:Action="http://Service/HoSoService/ViewHoSoResponse" message="tns:ViewHoSoResponse"/>
</operation>
<operation name="GetServiceConfig">
<input wsam:Action="http://Service/HoSoService/GetServiceConfigRequest" message="tns:GetServiceConfig"/>
<output wsam:Action="http://Service/HoSoService/GetServiceConfigResponse" message="tns:GetServiceConfigResponse"/>
</operation>
<operation name="GetListAgency">
<input wsam:Action="http://Service/HoSoService/GetListAgencyRequest" message="tns:GetListAgency"/>
<output wsam:Action="http://Service/HoSoService/GetListAgencyResponse" message="tns:GetListAgencyResponse"/>
</operation>
<operation name="UpdateHoSo">
<input wsam:Action="http://Service/HoSoService/UpdateHoSoRequest" message="tns:UpdateHoSo"/>
<output wsam:Action="http://Service/HoSoService/UpdateHoSoResponse" message="tns:UpdateHoSoResponse"/>
</operation>
<operation name="CheckLogin">
<input wsam:Action="http://Service/HoSoService/CheckLoginRequest" message="tns:CheckLogin"/>
<output wsam:Action="http://Service/HoSoService/CheckLoginResponse" message="tns:CheckLoginResponse"/>
</operation>
<operation name="GetInformUser">
<input wsam:Action="http://Service/HoSoService/GetInformUserRequest" message="tns:GetInformUser"/>
<output wsam:Action="http://Service/HoSoService/GetInformUserResponse" message="tns:GetInformUserResponse"/>
</operation>
<operation name="ChangePass">
<input wsam:Action="http://Service/HoSoService/ChangePassRequest" message="tns:ChangePass"/>
<output wsam:Action="http://Service/HoSoService/ChangePassResponse" message="tns:ChangePassResponse"/>
</operation>
<operation name="DeleteHoSo">
<input wsam:Action="http://Service/HoSoService/DeleteHoSoRequest" message="tns:DeleteHoSo"/>
<output wsam:Action="http://Service/HoSoService/DeleteHoSoResponse" message="tns:DeleteHoSoResponse"/>
</operation>
<operation name="UpdateUser">
<input wsam:Action="http://Service/HoSoService/UpdateUserRequest" message="tns:UpdateUser"/>
<output wsam:Action="http://Service/HoSoService/UpdateUserResponse" message="tns:UpdateUserResponse"/>
</operation>
<operation name="AddUser">
<input wsam:Action="http://Service/HoSoService/AddUserRequest" message="tns:AddUser"/>
<output wsam:Action="http://Service/HoSoService/AddUserResponse" message="tns:AddUserResponse"/>
</operation>
<operation name="getCaptcha">
<input wsam:Action="http://Service/HoSoService/getCaptchaRequest" message="tns:getCaptcha"/>
<output wsam:Action="http://Service/HoSoService/getCaptchaResponse" message="tns:getCaptchaResponse"/>
</operation>
<operation name="InsertHoSo">
<input wsam:Action="http://Service/HoSoService/InsertHoSoRequest" message="tns:InsertHoSo"/>
<output wsam:Action="http://Service/HoSoService/InsertHoSoResponse" message="tns:InsertHoSoResponse"/>
</operation>
<operation name="getServiceConfigDetails">
<input wsam:Action="http://Service/HoSoService/getServiceConfigDetailsRequest" message="tns:getServiceConfigDetails"/>
<output wsam:Action="http://Service/HoSoService/getServiceConfigDetailsResponse" message="tns:getServiceConfigDetailsResponse"/>
</operation>
</portType>
<binding name="HoSoServicePortBinding" type="tns:HoSoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetHoSoByUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ViewHoSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetServiceConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetListAgency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateHoSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetInformUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ChangePass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteHoSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCaptcha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertHoSo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getServiceConfigDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HoSoService">
<port name="HoSoServicePort" binding="tns:HoSoServicePortBinding">
<soap:address location="http://localhost:8080/ServiceDVC/HoSoService"/>
</port>
</service>
</definitions>